/* Simple reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



/* Styles */
body {
  color: aliceblue;
  overflow: hidden;
}

h1,
h2 {
  font-family: juniper-std, sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 1.25rem;
}

#logo {
  font-family: manteiga-gorda, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#content {
  background: url('img/main.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* Reseach this!!!!! */
  overflow-y: scroll;
  height: 100vh;
  padding: 7% 2rem;
  text-align: center;
}

.btn {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  font-size: 1.25rem;
  font-family: mr-eaves-modern, sans-serif;
}

.cta {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 1rem;
}

/* Navigation */
.nav {
  padding: 1rem 0 5rem;
}

.nav-btn {
  padding: 0 2rem;
}

.sub-heading {
  font-family: shadows-into-light, sans-serif;
  font-size: 1.8rem;
}

/* Meal menu */